<div class="hero-banner d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 text-white">
        <h1 class="display-4 fw-bold">Publica a tu mascota</h1>
        <p class="lead">Ayudanos a encontrar a una mascota perdida o publicar una para adopción</p>
      </div>
      <div class= "col-md-4 text-md-end text-center pe-md-5">
        <a class="btn btn-primary btn-pink btn-lg" routerLink="/register" role="button">Registrarse</a>
      </div>
    </div>
  </div>
</div>