<div class="container">
    <h2>Inicio de sesión</h2>
</div>
<div class="container">
    <div class="card">
        <div class="card-body">
            <form (ngSubmit)="crearLogin()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Ingresa tu correo electrónico</label>
                    <input type="email" class="form-control" [(ngModel)]="correo" name="correo" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Ingresa tu contraseña</label>
                    <input type="password" class="form-control" [(ngModel)]="contrasena" name="contrasena"
                        id="exampleInputPassword1">
                </div>
                <div class="d-grid gap-3">
                    <button type="submit" class="btn btn-primary">
                        Entrar
                    </button>

                    <button type="button" class="btn btn-secondary" (click)="volver()">
                        Volver
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>