.btn-pink {
  background-color: #e83e8c;
  border-color: #e83e8c;
  color: white;
}

/* Hover */
.btn-pink:hover {
  background-color: #d63384;
  border-color: #d63384;
  color: white;
}

/* Focus (accesibilidad) */
.btn-pink:focus {
  box-shadow: 0 0 0 0.25rem rgba(232, 62, 140, 0.4);
}

/* Active (cuando se presiona) */
.btn-pink:active {
  background-color: #c2256e;
  border-color: #c2256e;
}

/* Disabled */
.btn-pink:disabled {
  background-color: #f1a7c6;
  border-color: #f1a7c6;
  cursor: not-allowed;
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;
}

.modal-custom {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  z-index: 9999;
}
