/* You can add global styles to this file, and also import other style files */
.btn.btn-pink {
  background-color: #e83e8c;
  border-color: #e83e8c;
  color: white;
}

/* Hover */
.btn.btn-pink:hover {
  background-color: #d63384;
  border-color: #d63384;
  color: white;
}

/* Focus (accesibilidad) */
.btn.btn-pink:focus {
  box-shadow: 0 0 0 0.25rem rgba(232, 62, 140, 0.4);
}

/* Active (cuando se presiona) */
.btn.btn-pink:active {
  background-color: #c2256e;
  border-color: #c2256e;
}

/* Disabled */
.btn.btn-pink:disabled {
  background-color: #f1a7c6;
  border-color: #f1a7c6;
  cursor: not-allowed;
}